/* _base.fonts.scss */

@charset "UTF-8";

/***************************/
/***************************/
/********** ICONS **********/
/***************************/
/***************************/
[class^="icon-"] {
	display:inline-flex;
	align-items:center;
	height:1em;
}
[class^="icon-"]:before {
	font-family:"icomoon" !important;
	font-style:normal;
	font-weight:normal;
	speak:never;
	display:inline-block;
	text-decoration:inherit;
	text-shadow:none !important;
	font-variant:normal;
	text-transform:none;
	font-size:inherit;
	line-height:inherit;
	color:inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(to bottom, #0BE3F7 0%,#0874FC 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color:transparent;
}

/********** ICONS **********/

.icon-attach:before {
content: "\e912";
}
.icon-blank:before {
content: "\e913";
}
.icon-clipboard:before {
content: "\e914";
}
.icon-clock:before {
content: "\e915";
}
.icon-close:before {
content: "\e916";
}
.icon-comment:before {
content: "\e917";
}
.icon-down:before {
content: "\e918";
}
.icon-download:before {
content: "\e919";
}
.icon-favorite-alt:before {
content: "\e91a";
}
.icon-file:before {
content: "\e91b";
}
.icon-filters:before {
content: "\e91c";
}
.icon-heart-alt:before {
content: "\e91d";
}
.icon-left:before {
content: "\e91e";
}
.icon-less:before {
content: "\e91f";
}
.icon-mail:before {
content: "\e920";
}
.icon-more:before {
content: "\e921";
}
.icon-notification:before {
content: "\e922";
}
.icon-parameters:before {
content: "\e923";
}
.icon-print:before {
content: "\e924";
}
.icon-refresh:before {
content: "\e925";
}
.icon-right:before {
content: "\e926";
}
.icon-search:before {
content: "\e927";
}
.icon-share:before {
content: "\e928";
}
.icon-tag:before {
content: "\e929";
}
.icon-trash:before {
content: "\e92a";
}
.icon-up:before {
content: "\e92b";
}
.icon-airdrop:before {
content: "\e900";
}
.icon-community:before {
content: "\e901";
}
.icon-decentralized:before {
content: "\e902";
}
.icon-discord:before {
content: "\e903";
}
.icon-entrance:before {
content: "\e904";
}
.icon-fees:before {
content: "\e905";
}
.icon-fungible:before {
content: "\e906";
}
.icon-github:before {
content: "\e907";
}
.icon-governance:before {
content: "\e908";
}
.icon-lightbulb:before {
content: "\e909";
}
.icon-protection:before {
content: "\e90a";
}
.icon-puzzle:before {
content: "\e90b";
}
.icon-quicksilver:before {
content: "\e90c";
}
.icon-risks:before {
content: "\e90d";
}
.icon-rocket:before {
content: "\e90e";
}
.icon-speed:before {
content: "\e90f";
}
.icon-telegram:before {
content: "\e910";
}
.icon-twitter:before {
content: "\e911";
}
.icon-medium:before {
content: "\e912";
}

/*********************************/
/*********************************/
/********** FONT FAMILY **********/
/*********************************/
/*********************************/

body {
	font-family: 'Sulphur Point', sans-serif;
	font-weight:400;
}
h1, h2, h3, h4, h5, h6,
.brand-title,
.section-title,
.site-title,
.roadmap .step .date {
	font-family: 'Sulphur Point', sans-serif;
	text-transform:uppercase;
}
.roadmap .step .title,
.contextual,
ol li:before,
.button,
p strong {
	font-weight:700;
}

/*******************************/
/*******************************/
/********** FONT SIZE **********/
/*******************************/
/*******************************/

body {
	letter-spacing:.025em;
}
h1, h2, h3, h4, h5, h6,
.brand-title,
.section-title {
	line-height:1.25em;
}
small {
	font-size:.5em;
}
.h1.hidden + *,
h2.hidden + * {
	margin-top:0;
}

body { 
	font-size:.75rem;

	@include media(m) {
		font-size:1rem;
	}
}
.main-title {
	font-size:2rem;
}

h1 {
	font-size:1rem;

	@include media(m) {
		font-size:1.5rem;
	}
}

h2 {
	font-size:1rem;

	@include media(m) {
		font-size:1.25rem;
	}
}

h3, h4, h5, h6 {
	font-size:inherit;
}
.excerpt {
	font-size:.875rem;

	@include media(m) {
		font-size:1.25rem;
	}
}
.section-title {
	font-size:1.5rem;

	@include media(m) {
		font-size:5rem;
	}
}

/*************************************/
/*************************************/
/********** CONTENT SPACING **********/
/*************************************/
/*************************************/

/********** DEFAULT **********/

h1.hidden + *:not(.grid),
h2.hidden + *:not(.grid) {
	margin:0;
}

/********** FORM **********/

label.hidden + * {
	margin:0;
	padding:0;
}
* + label.hidden {
	position:relative;
}

/* default style */
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
.excerpt + * {
	margin-top:1.25rem;

	@include media(l) {
		margin-top:2.5rem;
	}
}
ul > li + li,
ol > li + li {
	margin-top:.25rem;
}
p + *,
pre + *,
blockquote + *,
hr + *,
ul + *,
ol + *,
figure + *,
img + *,
svg + * {
	margin-top:1.25rem;
}
/* custom style */
.grid + *,
.columns + *,
.columnizer + *,
nav + *,
.buttons + *,
.button + *,
* + .buttons,
* + hr,
* + .button {
	margin-top:1.25rem;

	@include media(l) {
		margin-top:2.5rem;
	}
}