/* _theme.home.scss */

// Example content

// .t-home {
    
// }

[data-color="dark"] {
    #wrapper {
        background-color: #242A31;
    }
    p, h2 {
        color: white;
    }

    .bg-glow-wrap {
        opacity: 0;
    }
}

[data-color="light"] {
    #wrapper {
        background-color: white;
    }
    p, h2 {
        color: $black;
    }
}

body:not(.introduced) {
    .bg-logo-outline svg {
        path {
            stroke-width: 1;
        }
    }
}

body[data-color="light"]:not(.introduced) {
    .bg-logo-outline {
        opacity: 0.5;
    }

    .bg-logo-outline .path1,
    .bg-logo-outline .path2 {
        stroke: url(#on-light);
    }
}

body[data-color="dark"]:not(.introduced) {
    .bg-logo-outline {
        opacity: 0.5;
    }

    .bg-logo-outline .path1,
    .bg-logo-outline .path2 {
        stroke: url(#on-dark);
    }

    .contextual a span {
        color: white;
    }

    .contextual.for-sections a:before,
    .contextual.for-sections a.active:before {
        background: white;
    }
}