@charset "UTF-8";

/********************************/
/********************************/
/********** ANIMATIONS **********/
/********************************/
/********************************/

/** styles **/

body {
	-webkit-transition:color .5s ease, background .5s ease;
	-o-transition:color .5s ease, background .5s ease;
	-moz-transition:color 1s ease, background .5s ease;
	transition:color .5s ease, background .5s ease;
}

main,
.section .content > * {
	-webkit-transition:opacity .5s ease;
	-o-transition:opacity .5s ease;
	-moz-transition:opacity .5s ease;
	transition:opacity .5s ease;
}

/** navigation **/

.buttons a,
.button {
	-webkit-transition:opacity .25s ease, border .25s ease, -webkit-transform .25s ease !important;
	transition:opacity .25s ease, border .25s ease, -webkit-transform .25s ease !important;
	-o-transition:opacity .25s ease, border .25s ease, -o-transform .25s ease !important;
	-moz-transition:transform .25s ease, opacity .25s ease, border .25s ease, -moz-transform .25s ease !important;
	transition:transform .25s ease, opacity .25s ease, border .25s ease !important;
	transition:transform .25s ease, opacity .25s ease, border .25s ease, -webkit-transform .25s ease, -moz-transform .25s ease, -o-transform .25s ease !important;
}

header .index,
nav a,
nav a:after,
.contextual,
.contextual a:before {
	-webkit-transition:-webkit-transform .25s ease;
	transition:-webkit-transform .25s ease;
	-o-transition:-o-transform .25s ease;
	-moz-transition:transform .25s ease, -moz-transform .25s ease;
	transition:transform .25s ease;
	transition:transform .25s ease, -webkit-transform .25s ease, -moz-transform .25s ease, -o-transform .25s ease;
}
.contextual a > * {
	-webkit-transition:opacity .25s ease, -webkit-transform .25s ease;
	transition:opacity .25s ease, -webkit-transform .25s ease;
	-o-transition:opacity .25s ease, -o-transform .25s ease;
	-moz-transition:transform .25s ease, opacity .25s ease, -moz-transform .25s ease;
	transition:transform .25s ease, opacity .25s ease;
	transition:transform .25s ease, opacity .25s ease, -webkit-transform .25s ease, -moz-transform .25s ease, -o-transform .25s ease;
}

/** animations **/

.instant-transition {
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
	transition:none;
}

/** onload **/

body.onload .section .content > * {
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
	transition:none;
}

/********** SPINNER **********/

@-webkit-keyframes spinner {
	0%, 50%, 100% { -webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); }
	0% { -webkit-transform: rotate(0); }
	50% { -webkit-transform: rotate(180deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinner {
	0%, 50%, 100% { -moz-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); }
	0% { -moz-transform: rotate(0); }
	50% { -moz-transform: rotate(180deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes spinner {
	0%, 50%, 100% { -o-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); }
	0% { -o-transform: rotate(0); transform: rotate(0); }
	50% { -o-transform: rotate(180deg); transform: rotate(180deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spinner {
	0%, 50%, 100% { -webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); -moz-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); -o-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5); }
	0% { -webkit-transform: rotate(0); -moz-transform: rotate(0); -o-transform: rotate(0); transform: rotate(0); }
	50% { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
	100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}

/*****************************************/
/*****************************************/
/********** LOADING TRANSITIONS **********/
/*****************************************/
/*****************************************/

#loading-transition {
	position:fixed;
	z-index:12000;
	top:0;
	left:0;
	pointer-events:none;
	height:100%;
	width:100%;
	opacity:0;
	margin:0 !important;
	-webkit-transform:scale(1.05);
	   -moz-transform:scale(1.05);
	    -ms-transform:scale(1.05);
	     -o-transform:scale(1.05);
	        transform:scale(1.05);
}
#loading-transition svg {
	fill:rgb(255,255,255);
	stroke:none;
	height:100%;
}
body.onload #loading-transition,
body.outload #loading-transition {
	opacity:1;
}
#loading-transition {
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
body.onload #loading-transition {
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
	transition:none;
}
body.outload #loading-transition {
	-webkit-transition:all .5s ease;
	-o-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}

/**********************************/
/**********************************/
/********** INTRODUCTION **********/
/**********************************/
/**********************************/

body.onload .contextual.for-sections {
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
	transition:none;
}
body.onload .contextual.for-sections,
body.onload header .index,
body.introduced .contextual.for-sections,
body.introduced header .index {
	opacity:0;
	pointer-events:none;
}
body.onload .contextual.for-sections,
body.onload header .index,
body.introduced .contextual.for-sections,
body.introduced header .index {
	-webkit-transform:translate(-100%,0%);
	   -moz-transform:translate(-100%,0%);
	    -ms-transform:translate(-100%,0%);
	     -o-transform:translate(-100%,0%);
	        transform:translate(-100%,0%);
}
header .index {
	-webkit-transform:translate(0%,0%);
	   -moz-transform:translate(0%,0%);
	    -ms-transform:translate(0%,0%);
	     -o-transform:translate(0%,0%);
	        transform:translate(0%,0%);
}

/**************************/
/**************************/
/********** LOGO **********/
/**************************/
/**************************/

/*
#logo-gradient-06 stop:first-child,
#logo-gradient-11 stop:first-child {
	stop-color:var(--alternate-color-light);
	-webkit-animation:colorization-light 2s infinite linear;
	   -moz-animation:colorization-light 2s infinite linear;
	     -o-animation:colorization-light 2s infinite linear;
	        animation:colorization-light 2s infinite linear;
}
#logo-gradient-06 stop:last-child,
#logo-gradient-11 stop:last-child {
	stop-color:var(--alternate-color-dark);
	-webkit-animation:colorization-dark 2s infinite linear;
	   -moz-animation:colorization-dark 2s infinite linear;
	     -o-animation:colorization-dark 2s infinite linear;
	        animation:colorization-dark 2s infinite linear;
}

@-webkit-keyframes colorization-light {
	0%, 100% { stop-color:var(--grey-color-light); }
	50% { stop-color:var(--alternate-color-light); }
}

@-moz-keyframes colorization-light {
	0%, 100% { stop-color:var(--grey-color-light); }
	50% { stop-color:var(--alternate-color-light); }
}

@-o-keyframes colorization-light {
	0%, 100% { stop-color:var(--grey-color-light); }
	50% { stop-color:var(--alternate-color-light); }
}

@keyframes colorization-light {
	0%, 100% { stop-color:var(--grey-color-light); }
	50% { stop-color:var(--alternate-color-light); }
}
@-webkit-keyframes colorization-dark {
	0%, 100% { stop-color:var(--grey-color-dark); }
	50% { stop-color:var(--alternate-color-dark); }
}
@-moz-keyframes colorization-dark {
	0%, 100% { stop-color:var(--grey-color-dark); }
	50% { stop-color:var(--alternate-color-dark); }
}
@-o-keyframes colorization-dark {
	0%, 100% { stop-color:var(--grey-color-dark); }
	50% { stop-color:var(--alternate-color-dark); }
}
@keyframes colorization-dark {
	0%, 100% { stop-color:var(--grey-color-dark); }
	50% { stop-color:var(--alternate-color-dark); }
}
*/

/****************************/
/****************************/
/********** LOADER **********/
/****************************/
/****************************/

/** icon only **/

.loader:before {
	content:"" !important;
	display:inline-block;
	height:1rem;
	width:1rem;
	margin:-.25rem;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border-style:solid;
	border-width:0.125rem;
	border-color: inherit inherit inherit transparent;
	-webkit-animation: spinner 1s infinite linear;
	-moz-animation: spinner 1s infinite linear;
	-o-animation: spinner 1s infinite linear;
	   animation: spinner 1s infinite linear;
}

/** loading txt **/

.loading:before {
	content:"";
	display:inline-block;
	vertical-align:middle;
	height:.75em;
	width:.75em;
	margin:-.375em .375em -.375em -.375em;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border-style:solid;
	border-width:0.125em;
	border-color: inherit inherit inherit transparent;
	-webkit-animation: spinner .5s infinite linear;
	-moz-animation: spinner .5s infinite linear;
	-o-animation: spinner .5s infinite linear;
	   animation: spinner .5s infinite linear;
}