/* _scopes.wysiwyg.scss */

.s-wysiwyg {

    h3,
    h4 {
        color: $dark-blue;
        font-weight: bold;
        margin-bottom: space(2);

        @include media(s) {
            margin-bottom: space(1.25);   
        }
    }

    p {
        color: $secondary-1-extended-700;
        line-height: 24px;
        margin-bottom: space(3);
        padding-left: space(9);

        @include media(l) {
            padding-left: 0;
        }

        @include media(s) {
            color: $dark-grey;
            @include rem(font-size, 18);
            line-height: 26px;
        }

    }
}
