/* _utility.border.scss */

$border: 1px solid palette("divider");

.u-border { border: $border; }

.u-border-b { border-bottom: $border; }

.u-border-l { border-left: $border; }

.u-border-r { border-right: $border; }

.u-border-t { border-top: $border; }

.u-border-x {
    border-left: $border;
    border-right: $border;
}

.u-border-y {
    border-bottom: $border;
    border-top: $border;
}

// Reset border
.u-border-0 {border: 0 !important; }

.u-border-b-0 { border-bottom: 0 !important; }

.u-border-l-0 { border-left: 0 !important; }

.u-border-r-0 { border-right: 0 !important; }

.u-border-t-0 { border-top: 0 !important; }
