/* _utility.floats.scss */

//
// Standard Declarations
.u-float-left,
.u-f-left {
	float: left;
}

.u-float-right,
.u-f-right {
	float: right;
}

.u-float-none,
.u-f-none {
	float: none;
}

//
// Responsive Declarations
@if $responsive {
	@each $name in $breakpoint-modifiers {
		@include media($name) {

            .u-float-left,
            .u-f-left {
				&\@#{$name} {
					float: left;
				}
			}

            .u-float-right,
            .u-f-right {
				&\@#{$name} {
					float: right;
				}
			}

            .u-float-none,
            .u-f-none {
				&\@#{$name} {
					float: none;
				}
			}

		}
	}
}
