/* _utility.type.scss */

// <p> tags

.u-para-1 {
    @include rem(font-size, 20);
    line-height: 28px;
}

.u-para-2 {
    @include rem(font-size, 16);
    line-height: 26px;
}

.u-para-3 {
    @include rem(font-size, 14);
    line-height: 26px;
}

.u-caption {
    @include rem(font-size, 12);
    line-height: 18px;
}

